*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #eda2a2;
}

.container{
    top: 40%;
    position: relative;
    width: 50%;
    height: 80%;
    justify-content: center;
    justify-items: center;
    border: solid 0.5px #da6262;
    border-radius: 10px;
}